/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
a {
cursor: pointer;
	font-size: 14px;
}

.navbar-custom{
background-color: #555e65;	
	border-radius: 0px;
	color: #ffffff!important;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

table tr:nth-child(even){ background-color: #ccc; }
table th{ background-color: #555e65; color:#fff; }
table tr:nth-child(even){ background-color: #ccc; }
.glyphicon-trash { color: #555e65;}
.tab {    padding-left: 0px;}
.tab li {display: inline-block; list-style:none;
 background-color: #337ab7;
    border-color: #2e6da4;
    padding:6px;
    border-radius: 4px;
}
.tab li a{ text-decoration:none;
    color: #fff;
   
}

.form-group .error-msg, 
.form-group.has-error input {
  border-color: #B94A48;
  color: #B94A48;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
