
		<div ng-controller="ExpenseController" class="container main">					
			<div>
                <h2 class="align-left task-header"> 
                    Expense Manager 
                <!--<kbd>( {{recordCount}} )</kbd>-->
                </h2>
                <input type="button" class="btn btn-primary" value="Show Income" ng-click="showme=true">
                <input type="button" class="btn btn-primary" value="Show Expense" ng-click="showme=false">
                <p></p>
            </div>			
			<table class="table expense table-bordered" ng-hide="showme">
				<thead>
                    <tr> <td colspan="8" class="text-center"> <b>Expenses Table </b></td></tr>
				  <tr>
					<th>Date</th>
					<th>Rent </th>
					<th>Travel</th>
					<th>Party</th>
					<th> Office</th>
					<th>Studies</th>
					<th>Shopping</th>
					<th></th>	
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="e in expenseRecord | filter:filterExpense">
					<td>{{e.edate}}</td>
					<td>{{e.rent}}</td>
					<td>{{e.travel}}</td>
					<td>{{e.party}}</td>
					<td>{{e.office}}</td>
					<td>{{e.studies}}</td>
					<td>{{e.shopping}}</td>
					<td class="remove-button">
                       <a ng-click="removeRecord($index)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    </td>
				  </tr>
				</tbody>
			</table>
            <table class="table income table-bordered" ng-show="showme">
				<thead>
                 <tr> <td colspan="8" class="text-center"> <b>Income Table </b></td></tr>
				  <tr>
					<th>Date</th>
					<th>Business </th>
					<th>Salary</th>
					<th>Intrest on Deposit</th>
					
					<th></th>	
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="e in incomeRecord | filter:filterIncome">
					<td>{{e.idate}}</td>
					<td>{{e.business}}</td>
					<td>{{e.salary}}</td>
					<td>{{e.interest_deposit}}</td>
					
					<td class="remove-button">
                    <a ng-click="removeIncomeRecord($index)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>

                    </td>
				  </tr>
				</tbody>
			</table>
			<p>
      	
<button ng-click="toggle = !toggle" class="align-right btn btn-primary">{{toggleText}}</button>
<button ng-click="toggle1 = !toggle1" class="align-right btn btn-primary">{{toggleTexti}}</button>

			</p>
			<br/><br/>
			<div class="expense-form hidden">
				<div class="panel panel-default">
				    <div class="panel-heading"> Expense Form </div>
				    <div class="panel-body">
						<form class="form" role="form" ng-submit="addExpenseRecord()">
						  <div class="form-group">
							<label for="edate">Date </label>
							<input type="text" class="form-control" ng-model="nedate" required>
						  </div>
						  <div class="form-group">
							<label for="rent">Rent </label>
							<input type="text" class="form-control" ng-model="nrent" required>
						  </div>
						  <div class="form-group">
							<label for="travel">Travel </label>
							<input type="text" class="form-control" ng-model="ntravel" required>
						  </div>
						  <div class="form-group">
							<label for="party">Party</label>
							<input type="text" class="form-control" ng-model="nparty" required>
						  </div>
						   <div class="form-group">
							<label for="studies">Studies</label>
							<input type="text" class="form-control" ng-model="nstudies" required>
						  </div>
						  <div class="form-group">
							<label for="office">Office</label>
							<input type="text" class="form-control" ng-model="noffice" required>
						  </div>
						  <div class="form-group">
							<label for="shopping">Shopping</label>
							<input type="text" class="form-control" ng-model="nshopping" required>
						  </div>
						  <button type="submit" class="btn btn-primary">Add Expense</button>
						</form>
				    </div>
				</div>
			</div>	<!-- expense form -->
            
            <div class="income-form hidden">
				<div class="panel panel-default">
				    <div class="panel-heading"> Income Form </div>
				    <div class="panel-body">
						<form class="form" role="form" ng-submit="addIncomeRecord()">
						  <div class="form-group">
							<label for="idate">Date </label>
							<input type="text" class="form-control" ng-model="nidate" required>
						  </div>
						  <div class="form-group">
							<label for="business">Business </label>
							<input type="text" class="form-control" ng-model="nbusiness" required>
						  </div>
						  <div class="form-group">
							<label for="salary">Salary </label>
							<input type="text" class="form-control" ng-model="nsalary" required>
						  </div>
						  <div class="form-group">
							<label for="interest_deposit">Interest on Deposit</label>
							<input type="text" class="form-control" ng-model="ninterest_deposit" required>
						  </div>
						  
						  <button type="submit" class="btn btn-primary">Add Income</button>
						</form>
				    </div>
				</div>
			</div>			
			<!--income form -->
    
		</div>
	