
<div ng-controller="TransactionController as dash">
 
	<table class="table transaction table-bordered">				  
				<thead>
				  <tr>
                    <th>ID</th>  
					<th>Date</th>
					<th>Transaction Type </th>
					<th>Category</th>
					<th>Payer</th>
  					<th>Payee</th>
					<th>Amount</th>
					<th>Mode of payment</th>
					<th>Notes</th>
					<th></th>	
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="t in dash.transactions">	  
					<td>{{t.transactionId}}</td>
					<td> {{t.date}}</td>
					<td>{{t.type}}</td>
					<td> {{t.category}}</td> 
					<td>{{t.payer}}</td>
					<td>{{t.payee}}</td>
					<td>{{t.amount}}</td>
					<td>{{t.mode}}</td>  
					<td>{{t.notes}}</td>
                    <td>
					<a ng-click="dash.editTransaction(t.transactionId)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>    
                    <a ng-click="dash.removeTransactionRecord($index)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>                               
                      </td>
                    </tr>
				</tbody>
			</table>
   <div ui-view=""></div>

</div>